@import url(../css/_theme.css);
*{
    list-style: none;
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
/*Navbar*/
header nav{
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px 50px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li:first-child{
    font-size: 3em;
    font-weight: bold;
}
header nav ul li:first-child a{
    color: var(--white);
}
header nav ul li:first-child a span{
    font-size: 0.6em;
}
/*Search Bar*/
.search-bar{
    display: flex;
}
.search-bar button{
    font-size: 1em;
    padding: 12px 25px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.search-bar input{
    font-size: 1em;
    padding: 12px 25px;
    width: 300px;
    border-radius: 15px 0 0 15px;
}
/*User Icon*/
.user-icon{
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 100%;
}
/*Users Data*/
.users-list{
    background-color: var(--grey-50);
    padding: 40px;
    border-top: 1.5px solid var(--grey-400);
}
.users-list h2{
    color: var(--grey-950);
    font-size: 2em;
    margin-bottom: 30px;
}
.users-list > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
/*User Card*/
.user-card{
    background-color: var(--main-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 20px;
}
.user-card h4{
    color: var(--grey-800);
    background-color: var(--white);
    padding: 15px;
    font-size: 1.4em;
    font-weight: normal;
}
.user-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
}
/*Footer*/
.footer{
    background-color: var(--grey-50);
    text-align: center;
    padding: 25px;
    color: var(--grey-200);
    font-size: 1.2em;
    border-top: 1.5px solid var(--grey-400);
}

/*Profile*/

/*General*/
.profile-card{
    display: flex;
    background-color: var(--white);
    box-shadow: 5px 5px 5px var(--grey-200);
    margin: 10px;
    font-size: 1em;
    max-width: 1200px;
}
/*image*/
.profile-img{
    background-color: var(--main-color);
    margin-right: 30px;
    padding-right: 5px;
    flex: 0 0 300px; 
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 100px 0;
}
/*Data*/
.profile-data{
    padding: 5px;
    margin: 5px;
}
.profile-data h2{
    color: var(--main-color);
    font-size: 2.5em;
    margin-bottom: 30px;
}
.profile-card p{
    margin-bottom: 30px;
}
.profile-data div{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px 20px;
    margin-bottom: 30px;
}
.profile-data div span:nth-last-child(-n+2){
    font-weight: bold;
}
.profile-data footer{
    margin-bottom: 30px;
}
.profile-data footer a{
    color: var(--main-color);
}
.profile-data footer a:hover{
    color: var(--accent-color);
}